<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hippie.houzhidaoadmin.mapper.ExtMapper">
    <select id="getAllTopicList" resultType="com.hippie.houzhidaoadmin.domain.TopicDTO">
    select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,post_num as reviewNum,create_time as createTime,author_name as author,start_time as startTime,end_time as endTime
    from topic
  </select>
    <select id="getTopTopicList" resultType="com.hippie.houzhidaoadmin.domain.TopicDTO">
    select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,post_num as reviewNum,create_time as createTime,author_name as author,start_time as startTime,end_time as endTime
    from topic
    order by hits desc limit 10
  </select>
    <select id="getTopicDetail" resultType="com.hippie.houzhidaoadmin.domain.TopicDTO" parameterType="java.lang.String">
    select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,post_num as reviewNum,create_time as createTime,author_name as author,start_time as startTime,end_time as endTime
    from topic
    where title=#{title} and author_name=#{authorName}
  </select>
    <update id="updatePostNum" parameterType="java.lang.Integer">
    update topic
    set post_num=post_num+1
    where id=#{topicId}
  </update>
  <update id="updatePostReplyNum" parameterType="java.lang.Integer">
    update topic_post
    set reply_num=reply_num+1
    where id=#{postId}
  </update>
  <select id="getQAAllList" resultType="com.hippie.houzhidaoadmin.domain.QADTO">
     select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,answer_num as reviewNum,create_time as createTime,author_name as author
    from qa_question
  </select>
  <select id="getTopQAList" resultType="com.hippie.houzhidaoadmin.domain.QADTO">
     select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,answer_num as reviewNum,create_time as createTime,author_name as author
    from qa_question
    order by hits desc limit 10
  </select>
  <select id="getQADetail" resultType="com.hippie.houzhidaoadmin.domain.QADTO" parameterType="java.lang.String">
     select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,answer_num as reviewNum,create_time as createTime,author_name as author
    from qa_question
    where title=#{title} and author_name=#{authorName}
  </select>
  <update id="updateQAAnswerNum" parameterType="java.lang.Integer">
    update qa_question
    set answer_num=answer_num+1
    where id=#{qAId}
  </update>
  <update id="updateQAAnswerReplyNum" parameterType="java.lang.Integer">
    update qa_answer
    set reply_num=reply_num+1
    where id=#{answerId}
  </update>
  <select id="getAllArticleList" resultType="com.hippie.houzhidaoadmin.domain.ArticleDTO">
    select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,post_num as reviewNum,create_time as createTime,author_name as author,is_checked as isChecked,brief as brief,check_time as checkTime
    from article
  </select>
  <select id="getTopArticleList" resultType="com.hippie.houzhidaoadmin.domain.ArticleDTO">
    select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,post_num as reviewNum,create_time as createTime,author_name as author,is_checked as isChecked,brief as brief,check_time as checkTime
    from article order by hits desc limit 10
  </select>
  <select id="searchArticle" resultType="com.hippie.houzhidaoadmin.domain.ArticleDTO" parameterType="java.lang.String">
    select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,post_num as reviewNum,create_time as createTime,author_name as author,is_checked as isChecked,brief as brief,check_time as checkTime
    from article
    where title like CONCAT('%',#{keyWord},'%')
  </select>
  <select id="getArticle" resultType="com.hippie.houzhidaoadmin.domain.ArticleDTO" parameterType="java.lang.String">
     select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,post_num as reviewNum,create_time as createTime,author_name as author,is_checked as isChecked,brief as brief,check_time as checkTime
    from article
    where title=#{title} and author_name=#{authorName}
  </select>
  <select id="getArticleByAuthor" resultType="com.hippie.houzhidaoadmin.domain.ArticleDTO" parameterType="java.lang.String">
     select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,post_num as reviewNum,create_time as createTime,author_name as author,is_checked as isChecked,brief as brief,check_time as checkTime
    from article
    where author_name=#{authorName}
  </select>
  <update id="updateArticlePostNum" parameterType="java.lang.Integer">
    update article
    set post_num=post_num+1
    where id=#{articleId}
  </update>
  <update id="updateArticleIsChecked" parameterType="java.lang.Integer">
    update article
    set is_checked = 1
    where id=#{articleId}
  </update>
  <select id="getArticlePostList" parameterType="java.lang.Integer" resultType="com.hippie.houzhidaoadmin.domain.ArticlePostDTO">
    select
    id as id,user_name as userName,content as content,reply_num as replyNum,create_time as createTime
    from article_post
    where article_id=#{articleId}
  </select>
  <select id="getArticlePostReplyList" parameterType="java.lang.Integer" resultType="com.hippie.houzhidaoadmin.domain.ArticlePostReplyDTO">
    select
    id as id,user_name as userName,content as content, reply_to_user as replyTo,create_time as createTime
    from article_post_reply
    where post_id=#{postId}
  </select>
  <select id="getTopicPostList" parameterType="java.lang.Integer" resultType="com.hippie.houzhidaoadmin.domain.TopicPostDTO">
    select
    id as id,user_name as userName,content as content,reply_num as replyNum,create_time as createTime
    from topic_post
    where topic_id=#{topicId}
  </select>
  <select id="getTopicPostReplyList" parameterType="java.lang.Integer" resultType="com.hippie.houzhidaoadmin.domain.TopicPostReplyDTO">
    select
    id as id,user_name as userName,content as content, reply_to_user as replyTo,create_time as createTime
    from topic_post_reply
    where post_id=#{postId}
  </select>
  <select id="getUserRoles" resultType="java.lang.String" parameterType="java.lang.String">
    select
    role
    from user_role
    where user_name=#{userName}
  </select>
  <update id="updateUserSalt" parameterType="java.lang.String">
    update user_info
    set salt=''
    where user_name=#{userName}
  </update>
  <select id="getCheckedArticleList" resultType="com.hippie.houzhidaoadmin.domain.ArticleDTO" parameterType="java.lang.Integer">
    select
    id as id,title as title,img_url as pic,content as content,hits as viewNum,post_num as reviewNum,create_time as createTime,author_name as author,is_checked as isChecked,brief as brief,check_time as checkTime
    from article
    where is_checked=#{isChecked}
  </select>
  <update id="updatePaperQuestionTotal" parameterType="java.lang.Integer">
    update test_paper
    set question_total=question_total+1
    where id=#{paperId}
  </update>
  <select id="getPaperList" resultType="com.hippie.houzhidaoadmin.domain.PaperDTO">
    select
    id as id,title as title,author as author,difficulty as difficulty,grade as grade,question_total as questionTotal,create_time as createTime,hits as viewNum
    from test_paper
  </select>
  <select id="getOptionListByQuestoinId" parameterType="java.lang.Integer" resultType="com.hippie.houzhidaoadmin.domain.PaperOptionDTO">
    select
    id as id,option_num as optionNum,content as content
    from test_paper_option
    where question_id=#{id}
  </select>
  <select id="getPaperQuestionList" resultType="com.hippie.houzhidaoadmin.domain.PaperQuestionDTO" parameterType="java.lang.Integer">
    select
    id as id,question_num as questionNum,content as content,correct_option as correctOption,reply_num as replyNum,optionA_content as optionaContent,optionB_content as optionbContent,optionC_content as optioncContent,optionD_content as optiondContent
    from test_paper_question
    where paper_id=#{paperId}
  </select>
  <select id="getIdByPaperId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select
    id
    from test_paper_question
    where paper_id=#{paperId}
  </select>
  <delete id="deleteQuestion" parameterType="java.lang.Integer">
    delete
    from test_paper_question
    where paper_id=#{paperId}
  </delete>
  <select id="getUserList" resultType="com.hippie.houzhidaoadmin.domain.UserDTO">
    select
    id as id,user_name as userName,phone as phone,address as address,create_time as createTime
    from user_info
  </select>
  <select id="getFirstLabel" resultType="com.hippie.houzhidaoadmin.domain.LabelDTO">
    select
    id as id,label_name as labelName
    from label
    where label_class = 1
  </select>
  <select id="getSecondLabel" resultType="com.hippie.houzhidaoadmin.domain.LabelDTO" parameterType="java.lang.Integer">
    select
    id as id,label_name as labelName
    from label
    where label_class = 2 and of_label_id = #{ofLabelId}
  </select>



</mapper>

